.container {
  position: fixed;
  top: 0;
  left: 0;
  border: 1px solid blue;
  width: 100vw;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.644);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.model_close_Bar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.model_closeIcon {
  cursor: pointer;
}

.model_container {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}
