.container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  border: 1px solid gray;
  background-color: rgb(248, 248, 255);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.model_container {
  box-shadow: 0 4px 10px rgba(231, 129, 129, 0.03) !important;
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid rgb(229, 234, 239);
  width: 50%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  column-gap: 10px;
  row-gap: 10px;
}

.model_header {
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
  padding: 10px;
}

.close_iconBox {
  cursor: pointer;
  font-size: 20px;
}

.model_Boody {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(229, 234, 239);
  padding: 10px;
  column-gap: 10px;
}

.api_image_container {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  border: 1px solid green;
  width: 60%;
}

.image_style {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.upload_new_image {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: var(--th-primary-color);
  cursor: pointer;
}

.image_uplod_container {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed #dcdcdc;
  font-size: 100px;
  color: gray;
  cursor: pointer;
  border: 1px solid green;
}

.input_container {
  padding: 10px;
  width: 40%;
  border: 1px solid red;
}

.model_footer {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.input_wrapper {
  display: flex;
  column-gap: 10px;
  margin-bottom: 10px;
}

.imageInput {
  display: none;
}

.prev_uplod_container {
  width: 55%;
  height: 100%;
  cursor: pointer;
  /* border: 1px solid rgb(229, 234, 239); */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(231, 129, 129, 0.03) !important;
  position: relative;
  box-sizing: border-box;
}

.prve_image_wrapper {
  height: 100%;
}

.remove_icon {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.remove_icon:hover {
  background-color: #ecf2ff;
  color: rgb(93, 135, 255);
  transition: ease 0.5s;
  border-radius: 10px;
}

.prev_imag {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.image_deatils {
  display: flex;
  align-items: center;
  padding: 0px 5px;
  font-size: 10px;
  color: #ed6789;
}

.footer_btn {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}
