.main_container {
}

.most_popularAmanities {
  margin-bottom: 20px;
}

.section_heading {
  margin-bottom: 20px;
}

.single_line_anminitesWrapper {
  display: flex;
  justify-content: space-between;
}

.amnitiesBox {
  display: flex;
  column-gap: 10px;
}

.amnities_icon {
  color: var(--th-primary-darker);
  font-size: 18px;
}

.amnities_text {
  font-size: 14px;
  font-family: var(--th-font-family-default);
  letter-spacing: inherit;
}
.all_amnities {
  display: flex;
  column-gap: 5%;
  row-gap: 50px;
  flex-wrap: wrap;
  align-content: flex-start;
}

.amninites_lists {
  display: flex;
  column-gap: 10px;
}
