.main_container {
  padding: 5px 10px;
  font-family: sans-serif;
}

.sub_heading_wrrapper {
  display: flex;
  column-gap: 10px;
  font-family: sans-serif;
  margin-bottom: 10px;
}

.dynimic_content {
  line-height: 1.5;
  margin-bottom: 10px;
}
.list {
  margin-bottom: 10px;
  line-height: 1.2;
}
