.main_wrapper {
  padding: 7px 10%;
  background-color: var(--th-white-color);
}

.inner_wrapper {
  display: flex;
  justify-content: space-between;
}

.topBar_contactBox {
  display: flex;
  column-gap: var(--th-gap20);
}

.topBar_mobileNumberBox {
  display: flex;
  align-items: center;
  column-gap: var(--th-gap10);
  color: var(--th-text-gray);
  cursor: pointer;
}

.topBar_emailBox {
  display: flex;
  column-gap: var(--th-gap10);
  align-items: center;
  color: var(--th-text-gray);
  cursor: pointer;
}

.topBar_socialMediaBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: var(--th-gap10);
}

.topBar_iconBox {
  cursor: pointer;
  font-size: var(--th-font-size18);
}

.topBar_iconBox:hover {
  color: var(--th-primary-darker);
}

@media screen and (max-width: 600px) {
  .main_wrapper {
    display: none;
  }
  .topBar_socialMediaBox {
    display: none;
  }

  .inner_wrapper {
    display: none;
  }
}
