.card_conatiner {
  width: 23%;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.03);
  position: relative;
}

.card_imageBox {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
}

.card_imageStyle {
  width: 100%;
  height: 100%;
}

.card_higliter {
  position: absolute;
  top: 5px;
  left: 5px;
  text-transform: capitalize;
  padding: 3px;
  border-radius: 5px;
  font-size: 12px;
  background-color: rgb(180, 180, 20);
  color: #fff;
}

.card_contentBox {
  padding: 5px;
}

.card_title {
  margin-bottom: 10px;
}

.card_contnet {
  text-align: justify;
  margin-bottom: 10px;
}

.card_btnBox {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.card_linkStyle {
  display: inline-block;
  padding: 3px 5px;
  border: 1px solid transparent;
}

.card_linkStyle:hover {
  border: 1px solid gray;
  padding: 3px 5px;
  border-radius: 5px;
  transition: ease 0.3s;
}

@media screen and (max-width: 600px) {
  .card_conatiner {
    width: 48%;
  }

  .card_imageBox {
    height: 100px;
    margin-bottom: 5px;
  }

  .card_contnet {
    display: none;
  }

  .card_btnBox {
    margin-bottom: 5px;
  }

  .card_linkStyle {
    display: inline-block;
    padding: 3px 5px;
    border: 1px solid transparent;
    font-size: 12px;
  }

  .card_linkStyle:hover {
    border: 1px solid gray;
    padding: 3px 5px;
    border-radius: 5px;
    transition: ease 0.3s;
    font-size: 12px;
  }
}
