.container {
  border: 1px solid var(--separator);
  box-shadow: var(--th-box-shadow);
  font-family: sans-serif;
  width: 250px;
  border-radius: 5px;
}

.image_wrapper {
  width: 100%;
  height: 150px;
  margin-bottom: 10px;
}

.card_imageStyle {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.card_body {
  padding: 5px;
}

.card_titleBox {
  text-transform: capitalize;
  margin-bottom: 10px;
}

.card_footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
  .container {
    width: 135px;
  }

  .image_wrapper {
    height: 100px;
  }
}
