.layout_mainContainer {
  position: relative;
}

.layout_container {
  width: 100%;
  padding: 50px 50px;
  display: flex;
  column-gap: 30px;
  justify-content: space-between;
  background-color: #eef4fd;
  min-height: 100vh;
}

.fillter_wrapper {
  width: 300px;
}

.childre_wrapper {
  flex-grow: 1;
}

.side_barContainer {
  width: 350px;
}

.footer_wrapper {
  border: 1px solid red;
  margin-bottom: 20px;
  position: relative;
}

@media screen and (max-width: 600px) {
  .layout_container {
    padding: 5px 5px;
  }
  .fillter_wrapper {
    display: none;
  }
  .side_barContainer {
    display: none;
  }

  .childre_wrapper {
    width: 100%;
  }

  .footer_wrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 0px;
    z-index: 1;
    width: 100%;
    -webkit-backdrop-filter: blur(11px);
    backdrop-filter: blur(11px);
    box-shadow: 0 -0.5px 0 0 rgb(0 0 0 / 15%);
    background-color: #292828;
    border: 1px solid #292828;
    color: var(--th-white-color);
    padding: 5px;
    display: flex;
  }

  .app_drwerWrapper {
    border: 1px solid red;
    position: absolute;
    top: 0px;
    z-index: 10;
    background-color: red;
    width: 100%;
  }
}
