.section_wrapper {
  margin-top: 50px;
  margin-right: 150px;
  margin-left: 150px;
  margin-bottom: 100px;
}

@media screen and (max-width: 600px) {
  .section_wrapper {
    margin-top: 10px;
    margin-right: 0px;
    margin-left: 0px;
    margin: 10px 0px;
    margin-bottom: 20px;
    padding: 5px;
  }
}
