.main_wrapper {
  padding: 10px 10%;
  background-color: var(--th-primary-darker);
}

.logo_style {
  width: 100px;
  height: 40px;
  cursor: pointer;
}

.NavBar_right_sideBox {
  display: flex;
  align-items: center;
  column-gap: 50px;
}

.menu_wrapper {
  align-items: center;
  display: flex;
  column-gap: var(--th-gap20);
}

.link_style {
  color: var(--th-white-color);
  font-size: var(--th-font-size14);
  text-decoration: none;
  text-transform: capitalize;
}

.auth_btnWrapper {
  display: flex;
  column-gap: var(--th-gap20);
  align-items: center;
}

.sign_inBtn {
  background-color: var(--th-white-color);
  padding: var(--th-gap10);
  border: 1px solid var(--th-primary-color);
  border-radius: 5px;
  color: var(--th-primary-color);
  text-decoration: none;
  text-transform: capitalize;
  font-size: var(--th-font-size14);
}

.sign_inBtn:hover {
  background-color: transparent;
  color: var(--th-white-color);
  border: 1px solid var(--th-white-color);
  transition: ease 0.3s;
}

.outline_btn {
  border: 1px solid #ffff;
  padding: 10px;
  color: #fff;
  letter-spacing: 1px;
  font-size: 14px;
  text-transform: capitalize;
  cursor: pointer;
  border-radius: 5px;
}

.outline_btn:hover {
  background-color: var(--th-white-color);
  color: var(--th-primary-color);
  border: 1px solid var(--th-primary-color);
  border-radius: 5px;
  transition: ease 0.3s;
}

.dekstop_navBar {
  display: flex;
  justify-content: space-between;
}

.NavBar_right_sideBox {
  display: flex;
  column-gap: var(--th-gap20);
}

.mobile_navBar {
  display: none;
}

@media screen and (max-width: 600px) {
  .dekstop_navBar {
    display: none;
  }
  .mobile_navBar {
    display: flex;
    column-gap: var(--th-gap20);
    align-items: center;
    z-index: 10;
  }

  .mobilelogo_style {
    width: 70px;
    height: 30px;
    cursor: pointer;
  }

  .main_wrapper {
    padding: 7px 5%;
  }

  .hanburg_box {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--th-font-size18);
    font-weight: bolder;
    cursor: pointer;
  }

  .call_action {
    display: flex;
    align-items: center;
    background-color: var(--th-white-color);
    padding: 2px 5px;
    border-radius: var(--th-radius5);
    justify-content: space-between;
    column-gap: var(--th-gap10);
    margin-left: var(--th-gap10);
  }
  .Mobile_number {
    font-size: var(--th-font-mobile12);
  }
}
