.filed_container {
}

.input_wrapper {
  margin-top: 10px;
}

.inputStyle {
  font-size: 1em;
  width: 100%;
  height: auto;
  min-height: var(--input-height);
  color: var(--textColor);
  box-shadow: initial !important;
  background-color: var(--foreground);
  border-radius: 5px;
  border: 1px solid var(--separator);
  filter: none;
  transition: border-color 0.15s ease-in-out;
  outline: none;
  padding: 5px 10px;
  font-family: sans-serif;
}
