.com_container {
  color: rgb(42, 53, 71);
  font-size: 0.875rem;
  margin-bottom: 10px;
}

.inner_container {
  min-height: 52px;
  padding-right: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_rightSide {
  display: flex;
}

.footer_leftSide {
  flex-grow: 1;
}

.custome_selector_container {
  display: flex;
  position: relative;
  column-gap: 5px;
  margin: 0px 5px;
}

.selector_inputStyle {
  bottom: 0px;
  left: 0px;
  pointer-events: none;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  max-width: 40px;
  color: rgba(0, 0, 0, 0.54);
  border: none;
}

.selector_iconBox {
  user-select: none;
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: currentcolor;
  flex-shrink: 0;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: 1.5rem;
  position: absolute;
  right: 0px;
  top: calc(50% - 0.5em);
  cursor: pointer;
  color: rgba(0, 0, 0, 0.54);
}

.row_numberBox {
  display: flex;
  column-gap: 5px;
  margin: 0px 5px;
}

.navigation_arrowBox {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.icon_wrapper {
  font-size: 18px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.selector_listBox {
  position: absolute;
  top: 20px;
  left: 10px;
  z-index: 100;
  background-color: rgb(255, 255, 255);
  color: rgb(42, 53, 71);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: rgba(145, 158, 171, 0.3) 0px 0px 2px 0px,
    rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
  min-width: 45px;
}

.list_ul_wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.selector_list {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  cursor: pointer;
  font-size: 14px;
}

.selector_list:hover {
  background-color: #eef3ff;
}
