.main_container {
  background-color: rgb(255, 255, 255);
  color: rgb(42, 53, 71);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 7px;
  box-shadow: rgba(145, 158, 171, 0.3) 0px 0px 2px 0px,
    rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
  width: 100%;
  background-image: none;
  padding: 0px;
  border: none;
  position: relative;
}

.inner_container {
  padding: 0px 16px 0px 16px;
}

.table_fillterBar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  min-height: 70px;
}

.header_left {
  display: flex;
  column-gap: 20px;
}

.fillter_iconWrapper {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table_wrapper {
  min-height: 300px;
  position: relative;
}

@media screen and (max-width: 600px) {
  .main_container {
    width: 100%;
    overflow: hidden;
  }
  .inner_container {
    padding: 0px 8px 0px 8px;
  }
}
