.main_container {
  border: 1px solid red;
  position: relative;
  padding: 50px 0px;
}

.btn_wrapper {
  border: 1px solid green;
  position: absolute;
  top: 0px;
  right: 0px;
}

.input_wrapper {
  border: 1px solid blue;
}

/* styles/globals.css */
.accordionformitem {
  margin-bottom: 1rem;
}

.accordionformitem input,
.accordionformitem textarea {
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
}

.button {
  margin-right: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}
